--
-- PostgreSQL database dump
--

\restrict CLYsFG7YNULbzcgAKfAGlGTGDKUE3r9Sy3nmpht7CO3CBMtug5OPznbwuw3fm61

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: address_coordinates; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.address_coordinates (
    id integer NOT NULL,
    case_id integer NOT NULL,
    source_table character varying(50) NOT NULL,
    source_field character varying(100) NOT NULL,
    address text DEFAULT ''::text NOT NULL,
    latitude double precision,
    longitude double precision,
    geocode_status character varying(20) DEFAULT 'PENDING'::character varying NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    CONSTRAINT address_coordinates_geocode_status_check CHECK (((geocode_status)::text = ANY ((ARRAY['PENDING'::character varying, 'SUCCESS'::character varying, 'FAILED'::character varying])::text[])))
);


--
-- Name: address_coordinates_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.address_coordinates_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: address_coordinates_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.address_coordinates_id_seq OWNED BY public.address_coordinates.id;


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: authtoken_token; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.authtoken_token (
    key character varying(40) NOT NULL,
    created timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


--
-- Name: case_document; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.case_document (
    id bigint NOT NULL,
    document_type character varying(50) NOT NULL,
    document_name character varying(500) NOT NULL,
    file_path character varying(100) NOT NULL,
    extracted_text text NOT NULL,
    extracted_data jsonb NOT NULL,
    uploaded_date timestamp with time zone NOT NULL,
    created_at timestamp with time zone NOT NULL,
    email_attachment_id bigint,
    case_id bigint NOT NULL
);


--
-- Name: case_document_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.case_document ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.case_document_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: case_verification; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.case_verification (
    id bigint NOT NULL,
    verification_type character varying(50) NOT NULL,
    status character varying(30) NOT NULL,
    priority character varying(20) NOT NULL,
    findings text NOT NULL,
    notes text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    assigned_at timestamp with time zone,
    started_at timestamp with time zone,
    completed_at timestamp with time zone,
    verified_at timestamp with time zone,
    assigned_to_id bigint,
    case_id bigint NOT NULL,
    verified_by_id bigint,
    accident_brief text NOT NULL,
    bsn_sections character varying(500) NOT NULL,
    check_status character varying(50) NOT NULL,
    claimant_address text NOT NULL,
    claimant_contact character varying(20) NOT NULL,
    claimant_name character varying(500) NOT NULL,
    court_name character varying(500) NOT NULL,
    district character varying(200) NOT NULL,
    dl_number character varying(100) NOT NULL,
    driver_address text NOT NULL,
    driver_and_insured_same boolean NOT NULL,
    driver_contact character varying(20) NOT NULL,
    driver_name character varying(500) NOT NULL,
    fir_delay_in_days integer,
    fir_number_claimant character varying(100) NOT NULL,
    fir_number_spot character varying(100) NOT NULL,
    income numeric(15,2),
    insured_address text NOT NULL,
    insured_contact character varying(20) NOT NULL,
    insured_name character varying(500) NOT NULL,
    ipc_sections character varying(500) NOT NULL,
    mv_act character varying(500) NOT NULL,
    observations text NOT NULL,
    occupation character varying(200) NOT NULL,
    permit_driver character varying(200) NOT NULL,
    permit_insured character varying(200) NOT NULL,
    place_of_accident character varying(500) NOT NULL,
    police_station character varying(200) NOT NULL,
    policy_number character varying(100) NOT NULL,
    policy_period character varying(200) NOT NULL,
    rc_number character varying(100) NOT NULL,
    statement text NOT NULL,
    time_of_accident character varying(100) NOT NULL
);


--
-- Name: case_verification_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.case_verification ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.case_verification_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cases; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cases (
    id integer NOT NULL,
    claim_number character varying(100) NOT NULL,
    client_name character varying(500) DEFAULT ''::character varying NOT NULL,
    category character varying(20) DEFAULT 'MACT'::character varying NOT NULL,
    case_receive_date date,
    receive_month character varying(20) DEFAULT ''::character varying CONSTRAINT cases_receipt_month_not_null NOT NULL,
    completion_date timestamp without time zone,
    completion_month character varying(20) DEFAULT ''::character varying NOT NULL,
    case_due_date date,
    tat_days integer,
    sla character varying(5),
    case_type character varying(50) DEFAULT 'Full Case'::character varying NOT NULL,
    investigation_report_status character varying(20) DEFAULT 'Open'::character varying NOT NULL,
    full_case_status character varying(30) DEFAULT 'WIP'::character varying NOT NULL,
    scope_of_work text DEFAULT ''::text NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    case_number character varying(100),
    CONSTRAINT cases_case_type_check CHECK (((case_type)::text = ANY ((ARRAY['Full Case'::character varying, 'Partial Case'::character varying, 'Reassessment'::character varying, 'Connected Case'::character varying])::text[]))),
    CONSTRAINT cases_full_case_status_check CHECK (((full_case_status)::text = ANY ((ARRAY['WIP'::character varying, 'Pending CS'::character varying, 'Completed'::character varying, 'IR-Writing'::character varying, 'NI'::character varying, 'Withdraw'::character varying, 'QC-1'::character varying, 'Pending Additional Docs'::character varying, 'Connected Pending'::character varying, 'RCU Pending'::character varying, 'Portal Upload'::character varying])::text[]))),
    CONSTRAINT cases_investigation_report_status_check CHECK (((investigation_report_status)::text = ANY ((ARRAY['Open'::character varying, 'Approval'::character varying, 'Stop'::character varying, 'QC'::character varying, 'Dispatch'::character varying])::text[]))),
    CONSTRAINT cases_sla_check CHECK (((sla)::text = ANY ((ARRAY['AT'::character varying, 'WT'::character varying])::text[])))
);


--
-- Name: cases_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.cases_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: cases_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.cases_id_seq OWNED BY public.cases.id;


--
-- Name: chargesheets; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.chargesheets (
    id integer NOT NULL,
    case_id integer NOT NULL,
    fir_number character varying(100) DEFAULT ''::character varying NOT NULL,
    city character varying(200) DEFAULT ''::character varying NOT NULL,
    court_name character varying(500) DEFAULT ''::character varying NOT NULL,
    mv_act character varying(500) DEFAULT ''::character varying NOT NULL,
    fir_delay_days integer,
    bsn_section character varying(500) DEFAULT ''::character varying NOT NULL,
    ipc character varying(500) DEFAULT ''::character varying NOT NULL,
    case_documents jsonb DEFAULT '[]'::jsonb CONSTRAINT chargesheets_documents_not_null NOT NULL,
    check_status character varying(20) DEFAULT 'WIP'::character varying NOT NULL,
    statement text DEFAULT ''::text NOT NULL,
    observations text DEFAULT ''::text NOT NULL,
    assigned_vendor_id integer,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    vendor_documents jsonb DEFAULT '[]'::jsonb NOT NULL,
    chargesheet_lat double precision,
    chargesheet_lng double precision,
    vendor_evidence jsonb DEFAULT '[]'::jsonb,
    CONSTRAINT chargesheets_check_status_check CHECK (((check_status)::text = ANY ((ARRAY['Not Initiated'::character varying, 'WIP'::character varying, 'Completed'::character varying, 'Stop'::character varying])::text[])))
);


--
-- Name: chargesheets_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.chargesheets_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: chargesheets_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.chargesheets_id_seq OWNED BY public.chargesheets.id;


--
-- Name: claimant_checks; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.claimant_checks (
    id integer NOT NULL,
    case_id integer NOT NULL,
    claimant_name character varying(500) DEFAULT ''::character varying NOT NULL,
    claimant_contact character varying(20) DEFAULT ''::character varying NOT NULL,
    claimant_address text DEFAULT ''::text NOT NULL,
    claimant_income numeric(15,2),
    claimant_lat double precision,
    claimant_lng double precision,
    dependants jsonb DEFAULT '[]'::jsonb NOT NULL,
    case_documents jsonb DEFAULT '[]'::jsonb CONSTRAINT claimant_checks_documents_not_null NOT NULL,
    check_status character varying(20) DEFAULT 'WIP'::character varying NOT NULL,
    statement text DEFAULT ''::text NOT NULL,
    observation text DEFAULT ''::text NOT NULL,
    assigned_vendor_id integer,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    vendor_documents jsonb DEFAULT '[]'::jsonb NOT NULL,
    vendor_evidence jsonb DEFAULT '[]'::jsonb,
    CONSTRAINT claimant_checks_check_status_check CHECK (((check_status)::text = ANY ((ARRAY['Not Initiated'::character varying, 'WIP'::character varying, 'Completed'::character varying, 'Stop'::character varying])::text[])))
);


--
-- Name: claimant_checks_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.claimant_checks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: claimant_checks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.claimant_checks_id_seq OWNED BY public.claimant_checks.id;


--
-- Name: claimant_dependent; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.claimant_dependent (
    id bigint NOT NULL,
    dependent_name character varying(500) NOT NULL,
    dependent_contact character varying(20) NOT NULL,
    dependent_address text NOT NULL,
    relationship character varying(100) NOT NULL,
    age integer,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    case_id bigint NOT NULL
);


--
-- Name: claimant_dependent_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.claimant_dependent ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.claimant_dependent_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: court_details; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.court_details (
    id integer NOT NULL,
    sr_no integer,
    city character varying(200),
    taluka_court character varying(500),
    jurisdiction_police_station character varying(500),
    police_station_contact character varying(200),
    police_station_email character varying(300),
    court_complex_location character varying(500),
    record_date date,
    sanad_no character varying(100),
    advocate_name character varying(300),
    advocate_contact character varying(100),
    advocate_email character varying(300)
);


--
-- Name: court_details_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.court_details_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: court_details_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.court_details_id_seq OWNED BY public.court_details.id;


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


--
-- Name: driver_checks; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.driver_checks (
    id integer NOT NULL,
    case_id integer NOT NULL,
    driver_name character varying(500) DEFAULT ''::character varying NOT NULL,
    driver_contact character varying(20) DEFAULT ''::character varying NOT NULL,
    driver_address text DEFAULT ''::text NOT NULL,
    dl character varying(100) DEFAULT ''::character varying NOT NULL,
    permit character varying(200) DEFAULT ''::character varying NOT NULL,
    occupation character varying(200) DEFAULT ''::character varying NOT NULL,
    driver_and_insured_same boolean DEFAULT false NOT NULL,
    driver_lat double precision,
    driver_lng double precision,
    case_documents jsonb DEFAULT '[]'::jsonb CONSTRAINT driver_checks_documents_not_null NOT NULL,
    check_status character varying(20) DEFAULT 'WIP'::character varying NOT NULL,
    statement text DEFAULT ''::text NOT NULL,
    observation text DEFAULT ''::text NOT NULL,
    assigned_vendor_id integer,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    vendor_documents jsonb DEFAULT '[]'::jsonb NOT NULL,
    vendor_evidence jsonb DEFAULT '[]'::jsonb,
    CONSTRAINT driver_checks_check_status_check CHECK (((check_status)::text = ANY ((ARRAY['Not Initiated'::character varying, 'WIP'::character varying, 'Completed'::character varying, 'Stop'::character varying])::text[])))
);


--
-- Name: driver_checks_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.driver_checks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: driver_checks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.driver_checks_id_seq OWNED BY public.driver_checks.id;


--
-- Name: evidence_photo; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.evidence_photo (
    id bigint NOT NULL,
    case_id integer NOT NULL,
    photo character varying(100) NOT NULL,
    latitude numeric(9,6) NOT NULL,
    longitude numeric(9,6) NOT NULL,
    caption character varying(500) NOT NULL,
    file_name character varying(255) NOT NULL,
    file_size bigint NOT NULL,
    uploaded_at timestamp with time zone NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    vendor_id bigint NOT NULL
);


--
-- Name: evidence_photo_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.evidence_photo ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.evidence_photo_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: insurance_case; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.insurance_case (
    id bigint NOT NULL,
    case_number character varying(100) NOT NULL,
    title character varying(500) NOT NULL,
    description text NOT NULL,
    category character varying(20) NOT NULL,
    priority character varying(20) NOT NULL,
    status character varying(20) NOT NULL,
    claim_number character varying(100) NOT NULL,
    client_code character varying(100) NOT NULL,
    insured_name character varying(500) NOT NULL,
    claimant_name character varying(500) NOT NULL,
    incident_address text NOT NULL,
    incident_city character varying(200) NOT NULL,
    incident_state character varying(200) NOT NULL,
    incident_postal_code character varying(20) NOT NULL,
    incident_country character varying(100) NOT NULL,
    latitude numeric(10,7),
    longitude numeric(10,7),
    formatted_address text NOT NULL,
    source character varying(20) NOT NULL,
    workflow_type character varying(50) NOT NULL,
    investigation_progress integer NOT NULL,
    chk_spot boolean NOT NULL,
    chk_hospital boolean NOT NULL,
    chk_claimant boolean NOT NULL,
    chk_insured boolean NOT NULL,
    chk_witness boolean NOT NULL,
    chk_driver boolean NOT NULL,
    chk_dl boolean NOT NULL,
    chk_rc boolean NOT NULL,
    chk_permit boolean NOT NULL,
    chk_court boolean NOT NULL,
    chk_notice boolean NOT NULL,
    chk_134_notice boolean NOT NULL,
    chk_rti boolean NOT NULL,
    chk_medical_verification boolean NOT NULL,
    chk_income boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    resolved_at timestamp with time zone,
    closed_at timestamp with time zone,
    client_id bigint,
    created_by_id bigint,
    source_email_id bigint,
    vendor_id bigint,
    client_name character varying(500) NOT NULL,
    case_receive_date date,
    receive_month character varying(20) CONSTRAINT insurance_case_receipt_month_not_null NOT NULL,
    completion_date date,
    completion_month character varying(20) NOT NULL,
    case_due_date date,
    tat_days integer,
    sla_status character varying(10) NOT NULL,
    case_type character varying(50) NOT NULL,
    investigation_report_status character varying(20) NOT NULL,
    full_case_status character varying(30) NOT NULL,
    scope_of_work text NOT NULL
);


--
-- Name: insurance_case_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.insurance_case ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.insurance_case_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: insurance_client; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.insurance_client (
    id bigint NOT NULL,
    client_code character varying(20) NOT NULL,
    client_name character varying(500) NOT NULL,
    location character varying(200) NOT NULL,
    date_of_commencement date,
    insured_rate numeric(10,2),
    notice_134_rate numeric(10,2),
    claimant_rate numeric(10,2),
    income_rate numeric(10,2),
    driver_rate numeric(10,2),
    dl_rate numeric(10,2),
    rc_rate numeric(10,2),
    permit_rate numeric(10,2),
    spot_rate numeric(10,2),
    court_rate numeric(10,2),
    notice_rate numeric(10,2),
    rti_rate numeric(10,2),
    hospital_rate numeric(10,2),
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


--
-- Name: insurance_client_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.insurance_client ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.insurance_client_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: insured_checks; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.insured_checks (
    id integer NOT NULL,
    case_id integer NOT NULL,
    insured_name character varying(500) DEFAULT ''::character varying NOT NULL,
    insured_contact character varying(20) DEFAULT ''::character varying NOT NULL,
    insured_address text DEFAULT ''::text NOT NULL,
    policy_number character varying(100) DEFAULT ''::character varying NOT NULL,
    policy_period character varying(200) DEFAULT ''::character varying NOT NULL,
    rc character varying(100) DEFAULT ''::character varying NOT NULL,
    permit character varying(200) DEFAULT ''::character varying NOT NULL,
    insured_lat double precision,
    insured_lng double precision,
    case_documents jsonb DEFAULT '[]'::jsonb CONSTRAINT insured_checks_documents_not_null NOT NULL,
    check_status character varying(20) DEFAULT 'WIP'::character varying NOT NULL,
    statement text DEFAULT ''::text NOT NULL,
    observation text DEFAULT ''::text NOT NULL,
    assigned_vendor_id integer,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    vendor_documents jsonb DEFAULT '[]'::jsonb NOT NULL,
    vendor_evidence jsonb DEFAULT '[]'::jsonb,
    CONSTRAINT insured_checks_check_status_check CHECK (((check_status)::text = ANY ((ARRAY['Not Initiated'::character varying, 'WIP'::character varying, 'Completed'::character varying, 'Stop'::character varying])::text[])))
);


--
-- Name: insured_checks_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.insured_checks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: insured_checks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.insured_checks_id_seq OWNED BY public.insured_checks.id;


--
-- Name: rti_checks; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.rti_checks (
    id integer NOT NULL,
    case_id integer NOT NULL,
    chargesheet_checked boolean DEFAULT false NOT NULL,
    fir_number character varying(100) DEFAULT ''::character varying NOT NULL,
    dl_checked boolean DEFAULT false NOT NULL,
    dl_number character varying(100) DEFAULT ''::character varying NOT NULL,
    permit_checked boolean DEFAULT false NOT NULL,
    permit_number character varying(100) DEFAULT ''::character varying NOT NULL,
    rc_checked boolean DEFAULT false NOT NULL,
    rc_number character varying(100) DEFAULT ''::character varying NOT NULL,
    remarks text DEFAULT ''::text NOT NULL,
    case_documents jsonb DEFAULT '[]'::jsonb NOT NULL,
    vendor_documents jsonb DEFAULT '[]'::jsonb NOT NULL,
    check_status character varying(20) DEFAULT 'PENDING'::character varying NOT NULL,
    assigned_vendor_id integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT rti_checks_check_status_check CHECK (((check_status)::text = ANY ((ARRAY['PENDING'::character varying, 'WIP'::character varying, 'COMPLETED'::character varying, 'REJECTED'::character varying])::text[])))
);


--
-- Name: rti_checks_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.rti_checks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: rti_checks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.rti_checks_id_seq OWNED BY public.rti_checks.id;


--
-- Name: rto_checks; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.rto_checks (
    id integer NOT NULL,
    case_id integer NOT NULL,
    rto_name character varying(255) DEFAULT ''::character varying NOT NULL,
    rto_address text DEFAULT ''::text NOT NULL,
    dl_checked boolean DEFAULT false NOT NULL,
    dl_number character varying(100) DEFAULT ''::character varying NOT NULL,
    permit_checked boolean DEFAULT false NOT NULL,
    permit_number character varying(100) DEFAULT ''::character varying NOT NULL,
    rc_checked boolean DEFAULT false NOT NULL,
    rc_number character varying(100) DEFAULT ''::character varying NOT NULL,
    remarks text DEFAULT ''::text NOT NULL,
    case_documents jsonb DEFAULT '[]'::jsonb NOT NULL,
    vendor_documents jsonb DEFAULT '[]'::jsonb NOT NULL,
    check_status character varying(20) DEFAULT 'PENDING'::character varying NOT NULL,
    assigned_vendor_id integer,
    rto_lat double precision,
    rto_lng double precision,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT rto_checks_check_status_check CHECK (((check_status)::text = ANY ((ARRAY['PENDING'::character varying, 'WIP'::character varying, 'COMPLETED'::character varying, 'REJECTED'::character varying])::text[])))
);


--
-- Name: rto_checks_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.rto_checks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: rto_checks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.rto_checks_id_seq OWNED BY public.rto_checks.id;


--
-- Name: spot_checks; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.spot_checks (
    id integer NOT NULL,
    case_id integer NOT NULL,
    time_of_accident character varying(100) DEFAULT ''::character varying NOT NULL,
    place_of_accident character varying(500) DEFAULT ''::character varying NOT NULL,
    district character varying(200) DEFAULT ''::character varying NOT NULL,
    fir_number character varying(100) DEFAULT ''::character varying NOT NULL,
    city character varying(200) DEFAULT ''::character varying NOT NULL,
    police_station character varying(200) DEFAULT ''::character varying NOT NULL,
    accident_brief text DEFAULT ''::text NOT NULL,
    spot_lat double precision,
    spot_lng double precision,
    case_documents jsonb DEFAULT '[]'::jsonb CONSTRAINT spot_checks_documents_not_null NOT NULL,
    check_status character varying(20) DEFAULT 'WIP'::character varying NOT NULL,
    observations text DEFAULT ''::text NOT NULL,
    assigned_vendor_id integer,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    vendor_documents jsonb DEFAULT '[]'::jsonb NOT NULL,
    vendor_evidence jsonb DEFAULT '[]'::jsonb,
    CONSTRAINT spot_checks_check_status_check CHECK (((check_status)::text = ANY ((ARRAY['Not Initiated'::character varying, 'WIP'::character varying, 'Completed'::character varying, 'Stop'::character varying])::text[])))
);


--
-- Name: spot_checks_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.spot_checks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: spot_checks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.spot_checks_id_seq OWNED BY public.spot_checks.id;


--
-- Name: users_admin; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users_admin (
    id bigint NOT NULL,
    department character varying(255) NOT NULL,
    employee_id character varying(50) NOT NULL,
    contact_email character varying(254) NOT NULL,
    contact_phone character varying(20) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


--
-- Name: users_admin_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.users_admin ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_admin_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_authtoken; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users_authtoken (
    id bigint NOT NULL,
    token character varying(64) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    expires_at timestamp with time zone,
    last_used_at timestamp with time zone,
    user_id bigint NOT NULL
);


--
-- Name: users_authtoken_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.users_authtoken ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_authtoken_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_customuser; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users_customuser (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    role character varying(20) NOT NULL,
    is_2fa_enabled boolean NOT NULL,
    sub_role character varying(20),
    permissions jsonb NOT NULL
);


--
-- Name: users_customuser_groups; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users_customuser_groups (
    id bigint NOT NULL,
    customuser_id bigint NOT NULL,
    group_id integer NOT NULL
);


--
-- Name: users_customuser_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.users_customuser_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_customuser_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_customuser_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.users_customuser ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_customuser_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_customuser_user_permissions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users_customuser_user_permissions (
    id bigint NOT NULL,
    customuser_id bigint NOT NULL,
    permission_id integer NOT NULL
);


--
-- Name: users_customuser_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.users_customuser_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_customuser_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_emailattachment; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users_emailattachment (
    id bigint NOT NULL,
    filename character varying(500) NOT NULL,
    content_type character varying(100) NOT NULL,
    file_path character varying(100) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    email_id bigint NOT NULL,
    extracted_text text NOT NULL,
    file_size bigint NOT NULL,
    is_pdf boolean NOT NULL
);


--
-- Name: users_emailattachment_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.users_emailattachment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_emailattachment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_emailintake; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users_emailintake (
    id bigint NOT NULL,
    message_id character varying(255) NOT NULL,
    thread_id character varying(255) NOT NULL,
    subject character varying(500) NOT NULL,
    sender_email character varying(254) NOT NULL,
    sender_name character varying(255) NOT NULL,
    recipient_email character varying(254) NOT NULL,
    cc_emails text NOT NULL,
    bcc_emails text NOT NULL,
    body_text text NOT NULL,
    body_html text NOT NULL,
    received_at timestamp with time zone NOT NULL,
    processing_status character varying(20) NOT NULL,
    processing_error text NOT NULL,
    has_attachments boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    processed_at timestamp with time zone
);


--
-- Name: users_emailintake_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.users_emailintake ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_emailintake_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_emailverificationcode; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users_emailverificationcode (
    id bigint NOT NULL,
    code character varying(6) NOT NULL,
    purpose character varying(10) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    is_used boolean NOT NULL,
    attempts integer NOT NULL,
    user_id bigint NOT NULL,
    CONSTRAINT users_emailverificationcode_attempts_check CHECK ((attempts >= 0))
);


--
-- Name: users_emailverificationcode_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.users_emailverificationcode ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_emailverificationcode_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_gmailoauthtoken; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users_gmailoauthtoken (
    id bigint NOT NULL,
    access_token text NOT NULL,
    refresh_token text NOT NULL,
    token_uri character varying(200) NOT NULL,
    client_id character varying(500) NOT NULL,
    client_secret character varying(500) NOT NULL,
    scopes text NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    email_address character varying(254) NOT NULL,
    is_active boolean NOT NULL,
    last_synced_at timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


--
-- Name: users_gmailoauthtoken_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.users_gmailoauthtoken ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_gmailoauthtoken_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_lawyer; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users_lawyer (
    id bigint NOT NULL,
    specialization character varying(255) NOT NULL,
    contact_email character varying(254) NOT NULL,
    contact_phone character varying(20) NOT NULL,
    office_address text NOT NULL,
    office_city character varying(100) NOT NULL,
    office_state character varying(100) NOT NULL,
    years_of_experience integer NOT NULL,
    bio text NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL,
    bar_registration_number character varying(50) NOT NULL,
    CONSTRAINT users_lawyer_years_of_experience_check CHECK ((years_of_experience >= 0))
);


--
-- Name: users_lawyer_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.users_lawyer ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_lawyer_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_passwordresettoken; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users_passwordresettoken (
    id bigint NOT NULL,
    token character varying(64) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    is_used boolean NOT NULL,
    user_id bigint NOT NULL
);


--
-- Name: users_passwordresettoken_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.users_passwordresettoken ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_passwordresettoken_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_vendor; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users_vendor (
    id bigint NOT NULL,
    company_name character varying(255) NOT NULL,
    contact_email character varying(254) NOT NULL,
    contact_phone character varying(20) NOT NULL,
    address text NOT NULL,
    city character varying(100) NOT NULL,
    state character varying(100) NOT NULL,
    postal_code character varying(20) NOT NULL,
    country character varying(100) NOT NULL,
    latitude numeric(9,6),
    longitude numeric(9,6),
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


--
-- Name: users_vendor_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.users_vendor ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_vendor_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: verification_comment; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.verification_comment (
    id bigint NOT NULL,
    comment text NOT NULL,
    is_internal boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    created_by_id bigint,
    verification_id bigint NOT NULL
);


--
-- Name: verification_comment_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.verification_comment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.verification_comment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: verification_document; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.verification_document (
    id bigint NOT NULL,
    document_type character varying(30) NOT NULL,
    title character varying(500) NOT NULL,
    description text NOT NULL,
    file_path character varying(1000) NOT NULL,
    file_name character varying(500) NOT NULL,
    file_size bigint NOT NULL,
    mime_type character varying(100) NOT NULL,
    uploaded_at timestamp with time zone NOT NULL,
    is_verified boolean NOT NULL,
    is_primary boolean NOT NULL,
    notes text NOT NULL,
    uploaded_by_id bigint,
    verification_id bigint NOT NULL
);


--
-- Name: verification_document_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.verification_document ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.verification_document_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: address_coordinates id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.address_coordinates ALTER COLUMN id SET DEFAULT nextval('public.address_coordinates_id_seq'::regclass);


--
-- Name: cases id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cases ALTER COLUMN id SET DEFAULT nextval('public.cases_id_seq'::regclass);


--
-- Name: chargesheets id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chargesheets ALTER COLUMN id SET DEFAULT nextval('public.chargesheets_id_seq'::regclass);


--
-- Name: claimant_checks id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.claimant_checks ALTER COLUMN id SET DEFAULT nextval('public.claimant_checks_id_seq'::regclass);


--
-- Name: court_details id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.court_details ALTER COLUMN id SET DEFAULT nextval('public.court_details_id_seq'::regclass);


--
-- Name: driver_checks id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.driver_checks ALTER COLUMN id SET DEFAULT nextval('public.driver_checks_id_seq'::regclass);


--
-- Name: insured_checks id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.insured_checks ALTER COLUMN id SET DEFAULT nextval('public.insured_checks_id_seq'::regclass);


--
-- Name: rti_checks id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.rti_checks ALTER COLUMN id SET DEFAULT nextval('public.rti_checks_id_seq'::regclass);


--
-- Name: rto_checks id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.rto_checks ALTER COLUMN id SET DEFAULT nextval('public.rto_checks_id_seq'::regclass);


--
-- Name: spot_checks id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.spot_checks ALTER COLUMN id SET DEFAULT nextval('public.spot_checks_id_seq'::regclass);


--
-- Name: address_coordinates address_coordinates_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.address_coordinates
    ADD CONSTRAINT address_coordinates_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: authtoken_token authtoken_token_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_pkey PRIMARY KEY (key);


--
-- Name: authtoken_token authtoken_token_user_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_key UNIQUE (user_id);


--
-- Name: case_document case_document_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.case_document
    ADD CONSTRAINT case_document_pkey PRIMARY KEY (id);


--
-- Name: case_verification case_verification_case_id_verification_type_fb255c8a_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.case_verification
    ADD CONSTRAINT case_verification_case_id_verification_type_fb255c8a_uniq UNIQUE (case_id, verification_type);


--
-- Name: case_verification case_verification_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.case_verification
    ADD CONSTRAINT case_verification_pkey PRIMARY KEY (id);


--
-- Name: cases cases_claim_number_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cases
    ADD CONSTRAINT cases_claim_number_key UNIQUE (claim_number);


--
-- Name: cases cases_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cases
    ADD CONSTRAINT cases_pkey PRIMARY KEY (id);


--
-- Name: chargesheets chargesheets_case_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chargesheets
    ADD CONSTRAINT chargesheets_case_id_key UNIQUE (case_id);


--
-- Name: chargesheets chargesheets_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chargesheets
    ADD CONSTRAINT chargesheets_pkey PRIMARY KEY (id);


--
-- Name: claimant_checks claimant_checks_case_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.claimant_checks
    ADD CONSTRAINT claimant_checks_case_id_key UNIQUE (case_id);


--
-- Name: claimant_checks claimant_checks_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.claimant_checks
    ADD CONSTRAINT claimant_checks_pkey PRIMARY KEY (id);


--
-- Name: claimant_dependent claimant_dependent_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.claimant_dependent
    ADD CONSTRAINT claimant_dependent_pkey PRIMARY KEY (id);


--
-- Name: court_details court_details_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.court_details
    ADD CONSTRAINT court_details_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: driver_checks driver_checks_case_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.driver_checks
    ADD CONSTRAINT driver_checks_case_id_key UNIQUE (case_id);


--
-- Name: driver_checks driver_checks_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.driver_checks
    ADD CONSTRAINT driver_checks_pkey PRIMARY KEY (id);


--
-- Name: evidence_photo evidence_photo_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.evidence_photo
    ADD CONSTRAINT evidence_photo_pkey PRIMARY KEY (id);


--
-- Name: insurance_case insurance_case_case_number_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.insurance_case
    ADD CONSTRAINT insurance_case_case_number_key UNIQUE (case_number);


--
-- Name: insurance_case insurance_case_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.insurance_case
    ADD CONSTRAINT insurance_case_pkey PRIMARY KEY (id);


--
-- Name: insurance_client insurance_client_client_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.insurance_client
    ADD CONSTRAINT insurance_client_client_code_key UNIQUE (client_code);


--
-- Name: insurance_client insurance_client_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.insurance_client
    ADD CONSTRAINT insurance_client_pkey PRIMARY KEY (id);


--
-- Name: insured_checks insured_checks_case_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.insured_checks
    ADD CONSTRAINT insured_checks_case_id_key UNIQUE (case_id);


--
-- Name: insured_checks insured_checks_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.insured_checks
    ADD CONSTRAINT insured_checks_pkey PRIMARY KEY (id);


--
-- Name: rti_checks rti_checks_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.rti_checks
    ADD CONSTRAINT rti_checks_pkey PRIMARY KEY (id);


--
-- Name: rto_checks rto_checks_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.rto_checks
    ADD CONSTRAINT rto_checks_pkey PRIMARY KEY (id);


--
-- Name: spot_checks spot_checks_case_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.spot_checks
    ADD CONSTRAINT spot_checks_case_id_key UNIQUE (case_id);


--
-- Name: spot_checks spot_checks_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.spot_checks
    ADD CONSTRAINT spot_checks_pkey PRIMARY KEY (id);


--
-- Name: users_admin users_admin_employee_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_admin
    ADD CONSTRAINT users_admin_employee_id_key UNIQUE (employee_id);


--
-- Name: users_admin users_admin_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_admin
    ADD CONSTRAINT users_admin_pkey PRIMARY KEY (id);


--
-- Name: users_admin users_admin_user_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_admin
    ADD CONSTRAINT users_admin_user_id_key UNIQUE (user_id);


--
-- Name: users_authtoken users_authtoken_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_authtoken
    ADD CONSTRAINT users_authtoken_pkey PRIMARY KEY (id);


--
-- Name: users_authtoken users_authtoken_token_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_authtoken
    ADD CONSTRAINT users_authtoken_token_key UNIQUE (token);


--
-- Name: users_customuser_groups users_customuser_groups_customuser_id_group_id_76b619e3_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_customuser_groups
    ADD CONSTRAINT users_customuser_groups_customuser_id_group_id_76b619e3_uniq UNIQUE (customuser_id, group_id);


--
-- Name: users_customuser_groups users_customuser_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_customuser_groups
    ADD CONSTRAINT users_customuser_groups_pkey PRIMARY KEY (id);


--
-- Name: users_customuser users_customuser_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_customuser
    ADD CONSTRAINT users_customuser_pkey PRIMARY KEY (id);


--
-- Name: users_customuser_user_permissions users_customuser_user_pe_customuser_id_permission_7a7debf6_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_customuser_user_permissions
    ADD CONSTRAINT users_customuser_user_pe_customuser_id_permission_7a7debf6_uniq UNIQUE (customuser_id, permission_id);


--
-- Name: users_customuser_user_permissions users_customuser_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_customuser_user_permissions
    ADD CONSTRAINT users_customuser_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: users_customuser users_customuser_username_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_customuser
    ADD CONSTRAINT users_customuser_username_key UNIQUE (username);


--
-- Name: users_emailattachment users_emailattachment_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_emailattachment
    ADD CONSTRAINT users_emailattachment_pkey PRIMARY KEY (id);


--
-- Name: users_emailintake users_emailintake_message_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_emailintake
    ADD CONSTRAINT users_emailintake_message_id_key UNIQUE (message_id);


--
-- Name: users_emailintake users_emailintake_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_emailintake
    ADD CONSTRAINT users_emailintake_pkey PRIMARY KEY (id);


--
-- Name: users_emailverificationcode users_emailverificationcode_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_emailverificationcode
    ADD CONSTRAINT users_emailverificationcode_pkey PRIMARY KEY (id);


--
-- Name: users_gmailoauthtoken users_gmailoauthtoken_email_address_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_gmailoauthtoken
    ADD CONSTRAINT users_gmailoauthtoken_email_address_key UNIQUE (email_address);


--
-- Name: users_gmailoauthtoken users_gmailoauthtoken_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_gmailoauthtoken
    ADD CONSTRAINT users_gmailoauthtoken_pkey PRIMARY KEY (id);


--
-- Name: users_lawyer users_lawyer_bar_registration_number_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_lawyer
    ADD CONSTRAINT users_lawyer_bar_registration_number_key UNIQUE (bar_registration_number);


--
-- Name: users_lawyer users_lawyer_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_lawyer
    ADD CONSTRAINT users_lawyer_pkey PRIMARY KEY (id);


--
-- Name: users_lawyer users_lawyer_user_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_lawyer
    ADD CONSTRAINT users_lawyer_user_id_key UNIQUE (user_id);


--
-- Name: users_passwordresettoken users_passwordresettoken_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_passwordresettoken
    ADD CONSTRAINT users_passwordresettoken_pkey PRIMARY KEY (id);


--
-- Name: users_passwordresettoken users_passwordresettoken_token_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_passwordresettoken
    ADD CONSTRAINT users_passwordresettoken_token_key UNIQUE (token);


--
-- Name: users_vendor users_vendor_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_vendor
    ADD CONSTRAINT users_vendor_pkey PRIMARY KEY (id);


--
-- Name: users_vendor users_vendor_user_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_vendor
    ADD CONSTRAINT users_vendor_user_id_key UNIQUE (user_id);


--
-- Name: verification_comment verification_comment_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.verification_comment
    ADD CONSTRAINT verification_comment_pkey PRIMARY KEY (id);


--
-- Name: verification_document verification_document_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.verification_document
    ADD CONSTRAINT verification_document_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: authtoken_token_key_10f0b77e_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX authtoken_token_key_10f0b77e_like ON public.authtoken_token USING btree (key varchar_pattern_ops);


--
-- Name: case_docume_case_id_654b60_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX case_docume_case_id_654b60_idx ON public.case_document USING btree (case_id, document_type);


--
-- Name: case_docume_uploade_fbeb66_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX case_docume_uploade_fbeb66_idx ON public.case_document USING btree (uploaded_date);


--
-- Name: case_document_case_id_5e8c0afc; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX case_document_case_id_5e8c0afc ON public.case_document USING btree (case_id);


--
-- Name: case_document_email_attachment_id_3c74a8eb; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX case_document_email_attachment_id_3c74a8eb ON public.case_document USING btree (email_attachment_id);


--
-- Name: case_verifi_assigne_4474b1_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX case_verifi_assigne_4474b1_idx ON public.case_verification USING btree (assigned_to_id, status);


--
-- Name: case_verifi_case_id_9462db_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX case_verifi_case_id_9462db_idx ON public.case_verification USING btree (case_id, verification_type);


--
-- Name: case_verifi_created_c790a7_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX case_verifi_created_c790a7_idx ON public.case_verification USING btree (created_at);


--
-- Name: case_verifi_status_227b27_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX case_verifi_status_227b27_idx ON public.case_verification USING btree (status, priority);


--
-- Name: case_verification_assigned_to_id_3d1912ba; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX case_verification_assigned_to_id_3d1912ba ON public.case_verification USING btree (assigned_to_id);


--
-- Name: case_verification_case_id_4262a2e7; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX case_verification_case_id_4262a2e7 ON public.case_verification USING btree (case_id);


--
-- Name: case_verification_status_db9a9cd4; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX case_verification_status_db9a9cd4 ON public.case_verification USING btree (status);


--
-- Name: case_verification_status_db9a9cd4_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX case_verification_status_db9a9cd4_like ON public.case_verification USING btree (status varchar_pattern_ops);


--
-- Name: case_verification_verification_type_8380b240; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX case_verification_verification_type_8380b240 ON public.case_verification USING btree (verification_type);


--
-- Name: case_verification_verification_type_8380b240_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX case_verification_verification_type_8380b240_like ON public.case_verification USING btree (verification_type varchar_pattern_ops);


--
-- Name: case_verification_verified_by_id_0b03072e; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX case_verification_verified_by_id_0b03072e ON public.case_verification USING btree (verified_by_id);


--
-- Name: claimant_de_case_id_94b8e5_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX claimant_de_case_id_94b8e5_idx ON public.claimant_dependent USING btree (case_id);


--
-- Name: claimant_dependent_case_id_dfc806e2; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX claimant_dependent_case_id_dfc806e2 ON public.claimant_dependent USING btree (case_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: evidence_ph_case_id_c8909b_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX evidence_ph_case_id_c8909b_idx ON public.evidence_photo USING btree (case_id, uploaded_at);


--
-- Name: evidence_ph_case_id_ffa564_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX evidence_ph_case_id_ffa564_idx ON public.evidence_photo USING btree (case_id, vendor_id);


--
-- Name: evidence_ph_vendor__b65e78_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX evidence_ph_vendor__b65e78_idx ON public.evidence_photo USING btree (vendor_id, uploaded_at);


--
-- Name: evidence_photo_case_id_f02bd5d2; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX evidence_photo_case_id_f02bd5d2 ON public.evidence_photo USING btree (case_id);


--
-- Name: evidence_photo_vendor_id_e75ed671; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX evidence_photo_vendor_id_e75ed671 ON public.evidence_photo USING btree (vendor_id);


--
-- Name: idx_addr_coords_case; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_addr_coords_case ON public.address_coordinates USING btree (case_id);


--
-- Name: idx_addr_coords_source; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_addr_coords_source ON public.address_coordinates USING btree (source_table, source_field);


--
-- Name: idx_cases_case_number; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_cases_case_number ON public.cases USING btree (case_number);


--
-- Name: idx_cases_case_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_cases_case_type ON public.cases USING btree (case_type);


--
-- Name: idx_cases_claim_number; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_cases_claim_number ON public.cases USING btree (claim_number);


--
-- Name: idx_cases_full_case_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_cases_full_case_status ON public.cases USING btree (full_case_status);


--
-- Name: idx_cases_receive_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_cases_receive_date ON public.cases USING btree (case_receive_date);


--
-- Name: idx_chargesheets_case; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_chargesheets_case ON public.chargesheets USING btree (case_id);


--
-- Name: idx_chargesheets_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_chargesheets_status ON public.chargesheets USING btree (check_status);


--
-- Name: idx_claimant_checks_case; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_claimant_checks_case ON public.claimant_checks USING btree (case_id);


--
-- Name: idx_claimant_checks_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_claimant_checks_status ON public.claimant_checks USING btree (check_status);


--
-- Name: idx_court_details_city; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_court_details_city ON public.court_details USING btree (city);


--
-- Name: idx_court_details_court; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_court_details_court ON public.court_details USING btree (taluka_court);


--
-- Name: idx_court_details_ps; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_court_details_ps ON public.court_details USING btree (jurisdiction_police_station);


--
-- Name: idx_driver_checks_case; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_driver_checks_case ON public.driver_checks USING btree (case_id);


--
-- Name: idx_driver_checks_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_driver_checks_status ON public.driver_checks USING btree (check_status);


--
-- Name: idx_insured_checks_case; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_insured_checks_case ON public.insured_checks USING btree (case_id);


--
-- Name: idx_insured_checks_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_insured_checks_status ON public.insured_checks USING btree (check_status);


--
-- Name: idx_rti_checks_case_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_rti_checks_case_id ON public.rti_checks USING btree (case_id);


--
-- Name: idx_rto_checks_case_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_rto_checks_case_id ON public.rto_checks USING btree (case_id);


--
-- Name: idx_spot_checks_case; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_spot_checks_case ON public.spot_checks USING btree (case_id);


--
-- Name: idx_spot_checks_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_spot_checks_status ON public.spot_checks USING btree (check_status);


--
-- Name: insurance_c_case_nu_72bc96_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX insurance_c_case_nu_72bc96_idx ON public.insurance_case USING btree (case_number);


--
-- Name: insurance_c_categor_a449ee_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX insurance_c_categor_a449ee_idx ON public.insurance_case USING btree (category);


--
-- Name: insurance_c_claim_n_381889_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX insurance_c_claim_n_381889_idx ON public.insurance_case USING btree (claim_number);


--
-- Name: insurance_c_client__a6adc1_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX insurance_c_client__a6adc1_idx ON public.insurance_client USING btree (client_code);


--
-- Name: insurance_c_client__e09894_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX insurance_c_client__e09894_idx ON public.insurance_client USING btree (client_name);


--
-- Name: insurance_c_created_a3e8a2_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX insurance_c_created_a3e8a2_idx ON public.insurance_case USING btree (created_at);


--
-- Name: insurance_c_priorit_c0b963_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX insurance_c_priorit_c0b963_idx ON public.insurance_case USING btree (priority);


--
-- Name: insurance_c_status_1926b3_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX insurance_c_status_1926b3_idx ON public.insurance_case USING btree (status);


--
-- Name: insurance_case_case_number_b07d9787_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX insurance_case_case_number_b07d9787_like ON public.insurance_case USING btree (case_number varchar_pattern_ops);


--
-- Name: insurance_case_claim_number_dc337493; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX insurance_case_claim_number_dc337493 ON public.insurance_case USING btree (claim_number);


--
-- Name: insurance_case_claim_number_dc337493_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX insurance_case_claim_number_dc337493_like ON public.insurance_case USING btree (claim_number varchar_pattern_ops);


--
-- Name: insurance_case_client_id_d11c9fdd; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX insurance_case_client_id_d11c9fdd ON public.insurance_case USING btree (client_id);


--
-- Name: insurance_case_created_by_id_21e2c9af; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX insurance_case_created_by_id_21e2c9af ON public.insurance_case USING btree (created_by_id);


--
-- Name: insurance_case_source_email_id_a38a1a66; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX insurance_case_source_email_id_a38a1a66 ON public.insurance_case USING btree (source_email_id);


--
-- Name: insurance_case_vendor_id_710dff3b; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX insurance_case_vendor_id_710dff3b ON public.insurance_case USING btree (vendor_id);


--
-- Name: insurance_client_client_code_6c8cde42_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX insurance_client_client_code_6c8cde42_like ON public.insurance_client USING btree (client_code varchar_pattern_ops);


--
-- Name: users_admin_departm_040d12_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_admin_departm_040d12_idx ON public.users_admin USING btree (department);


--
-- Name: users_admin_employe_73d5ae_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_admin_employe_73d5ae_idx ON public.users_admin USING btree (employee_id);


--
-- Name: users_admin_employee_id_71f47a44_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_admin_employee_id_71f47a44_like ON public.users_admin USING btree (employee_id varchar_pattern_ops);


--
-- Name: users_admin_is_acti_d2dd23_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_admin_is_acti_d2dd23_idx ON public.users_admin USING btree (is_active);


--
-- Name: users_autht_token_c272b5_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_autht_token_c272b5_idx ON public.users_authtoken USING btree (token);


--
-- Name: users_autht_user_id_c807cd_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_autht_user_id_c807cd_idx ON public.users_authtoken USING btree (user_id, expires_at);


--
-- Name: users_authtoken_token_d0e43333_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_authtoken_token_d0e43333_like ON public.users_authtoken USING btree (token varchar_pattern_ops);


--
-- Name: users_authtoken_user_id_45e64c0b; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_authtoken_user_id_45e64c0b ON public.users_authtoken USING btree (user_id);


--
-- Name: users_custo_email_c80f75_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_custo_email_c80f75_idx ON public.users_customuser USING btree (email);


--
-- Name: users_custo_role_e4c2f2_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_custo_role_e4c2f2_idx ON public.users_customuser USING btree (role, is_active);


--
-- Name: users_customuser_groups_customuser_id_958147bf; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_customuser_groups_customuser_id_958147bf ON public.users_customuser_groups USING btree (customuser_id);


--
-- Name: users_customuser_groups_group_id_01390b14; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_customuser_groups_group_id_01390b14 ON public.users_customuser_groups USING btree (group_id);


--
-- Name: users_customuser_role_1fa6b9f9; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_customuser_role_1fa6b9f9 ON public.users_customuser USING btree (role);


--
-- Name: users_customuser_role_1fa6b9f9_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_customuser_role_1fa6b9f9_like ON public.users_customuser USING btree (role varchar_pattern_ops);


--
-- Name: users_customuser_user_permissions_customuser_id_5771478b; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_customuser_user_permissions_customuser_id_5771478b ON public.users_customuser_user_permissions USING btree (customuser_id);


--
-- Name: users_customuser_user_permissions_permission_id_baaa2f74; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_customuser_user_permissions_permission_id_baaa2f74 ON public.users_customuser_user_permissions USING btree (permission_id);


--
-- Name: users_customuser_username_80452fdf_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_customuser_username_80452fdf_like ON public.users_customuser USING btree (username varchar_pattern_ops);


--
-- Name: users_email_code_355239_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_email_code_355239_idx ON public.users_emailverificationcode USING btree (code, purpose);


--
-- Name: users_email_content_24018e_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_email_content_24018e_idx ON public.users_emailattachment USING btree (content_type);


--
-- Name: users_email_email_i_b4ffc6_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_email_email_i_b4ffc6_idx ON public.users_emailattachment USING btree (email_id, filename);


--
-- Name: users_email_expires_108dd4_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_email_expires_108dd4_idx ON public.users_emailverificationcode USING btree (expires_at);


--
-- Name: users_email_is_pdf_f6b0e7_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_email_is_pdf_f6b0e7_idx ON public.users_emailattachment USING btree (is_pdf);


--
-- Name: users_email_message_2cf35b_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_email_message_2cf35b_idx ON public.users_emailintake USING btree (message_id);


--
-- Name: users_email_process_0136e6_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_email_process_0136e6_idx ON public.users_emailintake USING btree (processing_status, created_at);


--
-- Name: users_email_receive_58bda6_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_email_receive_58bda6_idx ON public.users_emailintake USING btree (received_at);


--
-- Name: users_email_sender__01d30c_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_email_sender__01d30c_idx ON public.users_emailintake USING btree (sender_email);


--
-- Name: users_email_user_id_46f341_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_email_user_id_46f341_idx ON public.users_emailverificationcode USING btree (user_id, purpose, is_used);


--
-- Name: users_emailattachment_email_id_f25ba5af; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_emailattachment_email_id_f25ba5af ON public.users_emailattachment USING btree (email_id);


--
-- Name: users_emailintake_message_id_5068f4ee_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_emailintake_message_id_5068f4ee_like ON public.users_emailintake USING btree (message_id varchar_pattern_ops);


--
-- Name: users_emailintake_processing_status_61c2febc; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_emailintake_processing_status_61c2febc ON public.users_emailintake USING btree (processing_status);


--
-- Name: users_emailintake_processing_status_61c2febc_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_emailintake_processing_status_61c2febc_like ON public.users_emailintake USING btree (processing_status varchar_pattern_ops);


--
-- Name: users_emailverificationcode_user_id_41be922c; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_emailverificationcode_user_id_41be922c ON public.users_emailverificationcode USING btree (user_id);


--
-- Name: users_gmail_email_a_a3c333_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_gmail_email_a_a3c333_idx ON public.users_gmailoauthtoken USING btree (email_address);


--
-- Name: users_gmail_is_acti_e45f7a_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_gmail_is_acti_e45f7a_idx ON public.users_gmailoauthtoken USING btree (is_active);


--
-- Name: users_gmailoauthtoken_email_address_9a80461a_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_gmailoauthtoken_email_address_9a80461a_like ON public.users_gmailoauthtoken USING btree (email_address varchar_pattern_ops);


--
-- Name: users_lawye_bar_reg_83489e_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_lawye_bar_reg_83489e_idx ON public.users_lawyer USING btree (bar_registration_number);


--
-- Name: users_lawye_is_acti_dca089_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_lawye_is_acti_dca089_idx ON public.users_lawyer USING btree (is_active);


--
-- Name: users_lawye_special_0466be_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_lawye_special_0466be_idx ON public.users_lawyer USING btree (specialization);


--
-- Name: users_lawyer_bar_registration_number_d5eb0640_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_lawyer_bar_registration_number_d5eb0640_like ON public.users_lawyer USING btree (bar_registration_number varchar_pattern_ops);


--
-- Name: users_passw_expires_853bc2_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_passw_expires_853bc2_idx ON public.users_passwordresettoken USING btree (expires_at);


--
-- Name: users_passw_token_b56ca3_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_passw_token_b56ca3_idx ON public.users_passwordresettoken USING btree (token);


--
-- Name: users_passw_user_id_5ee9a9_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_passw_user_id_5ee9a9_idx ON public.users_passwordresettoken USING btree (user_id, is_used);


--
-- Name: users_passwordresettoken_token_8e777b0e_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_passwordresettoken_token_8e777b0e_like ON public.users_passwordresettoken USING btree (token varchar_pattern_ops);


--
-- Name: users_passwordresettoken_user_id_2355945a; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_passwordresettoken_user_id_2355945a ON public.users_passwordresettoken USING btree (user_id);


--
-- Name: users_vendo_city_766ed7_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_vendo_city_766ed7_idx ON public.users_vendor USING btree (city, state);


--
-- Name: users_vendo_company_82c21c_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_vendo_company_82c21c_idx ON public.users_vendor USING btree (company_name);


--
-- Name: users_vendo_is_acti_6e070f_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_vendo_is_acti_6e070f_idx ON public.users_vendor USING btree (is_active);


--
-- Name: verificatio_uploade_91906e_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX verificatio_uploade_91906e_idx ON public.verification_document USING btree (uploaded_at);


--
-- Name: verificatio_verific_480013_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX verificatio_verific_480013_idx ON public.verification_document USING btree (verification_id, document_type);


--
-- Name: verificatio_verific_842024_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX verificatio_verific_842024_idx ON public.verification_comment USING btree (verification_id, created_at);


--
-- Name: verification_comment_created_by_id_7fa7e932; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX verification_comment_created_by_id_7fa7e932 ON public.verification_comment USING btree (created_by_id);


--
-- Name: verification_comment_verification_id_448a8d07; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX verification_comment_verification_id_448a8d07 ON public.verification_comment USING btree (verification_id);


--
-- Name: verification_document_uploaded_by_id_067173b6; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX verification_document_uploaded_by_id_067173b6 ON public.verification_document USING btree (uploaded_by_id);


--
-- Name: verification_document_verification_id_ba001c74; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX verification_document_verification_id_ba001c74 ON public.verification_document USING btree (verification_id);


--
-- Name: address_coordinates address_coordinates_case_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.address_coordinates
    ADD CONSTRAINT address_coordinates_case_id_fkey FOREIGN KEY (case_id) REFERENCES public.cases(id) ON DELETE CASCADE;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: authtoken_token authtoken_token_user_id_35299eff_fk_users_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_35299eff_fk_users_customuser_id FOREIGN KEY (user_id) REFERENCES public.users_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: case_document case_document_case_id_5e8c0afc_fk_insurance_case_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.case_document
    ADD CONSTRAINT case_document_case_id_5e8c0afc_fk_insurance_case_id FOREIGN KEY (case_id) REFERENCES public.insurance_case(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: case_document case_document_email_attachment_id_3c74a8eb_fk_users_ema; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.case_document
    ADD CONSTRAINT case_document_email_attachment_id_3c74a8eb_fk_users_ema FOREIGN KEY (email_attachment_id) REFERENCES public.users_emailattachment(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: case_verification case_verification_assigned_to_id_3d1912ba_fk_users_cus; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.case_verification
    ADD CONSTRAINT case_verification_assigned_to_id_3d1912ba_fk_users_cus FOREIGN KEY (assigned_to_id) REFERENCES public.users_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: case_verification case_verification_case_id_4262a2e7_fk_insurance_case_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.case_verification
    ADD CONSTRAINT case_verification_case_id_4262a2e7_fk_insurance_case_id FOREIGN KEY (case_id) REFERENCES public.insurance_case(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: case_verification case_verification_verified_by_id_0b03072e_fk_users_cus; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.case_verification
    ADD CONSTRAINT case_verification_verified_by_id_0b03072e_fk_users_cus FOREIGN KEY (verified_by_id) REFERENCES public.users_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: chargesheets chargesheets_case_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chargesheets
    ADD CONSTRAINT chargesheets_case_id_fkey FOREIGN KEY (case_id) REFERENCES public.cases(id) ON DELETE CASCADE;


--
-- Name: claimant_checks claimant_checks_case_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.claimant_checks
    ADD CONSTRAINT claimant_checks_case_id_fkey FOREIGN KEY (case_id) REFERENCES public.cases(id) ON DELETE CASCADE;


--
-- Name: claimant_dependent claimant_dependent_case_id_dfc806e2_fk_insurance_case_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.claimant_dependent
    ADD CONSTRAINT claimant_dependent_case_id_dfc806e2_fk_insurance_case_id FOREIGN KEY (case_id) REFERENCES public.insurance_case(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_users_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_users_customuser_id FOREIGN KEY (user_id) REFERENCES public.users_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: driver_checks driver_checks_case_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.driver_checks
    ADD CONSTRAINT driver_checks_case_id_fkey FOREIGN KEY (case_id) REFERENCES public.cases(id) ON DELETE CASCADE;


--
-- Name: evidence_photo evidence_photo_vendor_id_e75ed671_fk_users_vendor_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.evidence_photo
    ADD CONSTRAINT evidence_photo_vendor_id_e75ed671_fk_users_vendor_id FOREIGN KEY (vendor_id) REFERENCES public.users_vendor(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: insurance_case insurance_case_client_id_d11c9fdd_fk_insurance_client_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.insurance_case
    ADD CONSTRAINT insurance_case_client_id_d11c9fdd_fk_insurance_client_id FOREIGN KEY (client_id) REFERENCES public.insurance_client(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: insurance_case insurance_case_created_by_id_21e2c9af_fk_users_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.insurance_case
    ADD CONSTRAINT insurance_case_created_by_id_21e2c9af_fk_users_customuser_id FOREIGN KEY (created_by_id) REFERENCES public.users_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: insurance_case insurance_case_source_email_id_a38a1a66_fk_users_emailintake_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.insurance_case
    ADD CONSTRAINT insurance_case_source_email_id_a38a1a66_fk_users_emailintake_id FOREIGN KEY (source_email_id) REFERENCES public.users_emailintake(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: insurance_case insurance_case_vendor_id_710dff3b_fk_users_vendor_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.insurance_case
    ADD CONSTRAINT insurance_case_vendor_id_710dff3b_fk_users_vendor_id FOREIGN KEY (vendor_id) REFERENCES public.users_vendor(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: insured_checks insured_checks_case_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.insured_checks
    ADD CONSTRAINT insured_checks_case_id_fkey FOREIGN KEY (case_id) REFERENCES public.cases(id) ON DELETE CASCADE;


--
-- Name: rti_checks rti_checks_assigned_vendor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.rti_checks
    ADD CONSTRAINT rti_checks_assigned_vendor_id_fkey FOREIGN KEY (assigned_vendor_id) REFERENCES public.users_vendor(id) ON DELETE SET NULL;


--
-- Name: rti_checks rti_checks_case_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.rti_checks
    ADD CONSTRAINT rti_checks_case_id_fkey FOREIGN KEY (case_id) REFERENCES public.cases(id) ON DELETE CASCADE;


--
-- Name: rto_checks rto_checks_assigned_vendor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.rto_checks
    ADD CONSTRAINT rto_checks_assigned_vendor_id_fkey FOREIGN KEY (assigned_vendor_id) REFERENCES public.users_vendor(id) ON DELETE SET NULL;


--
-- Name: rto_checks rto_checks_case_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.rto_checks
    ADD CONSTRAINT rto_checks_case_id_fkey FOREIGN KEY (case_id) REFERENCES public.cases(id) ON DELETE CASCADE;


--
-- Name: spot_checks spot_checks_case_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.spot_checks
    ADD CONSTRAINT spot_checks_case_id_fkey FOREIGN KEY (case_id) REFERENCES public.cases(id) ON DELETE CASCADE;


--
-- Name: users_admin users_admin_user_id_a330be1e_fk_users_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_admin
    ADD CONSTRAINT users_admin_user_id_a330be1e_fk_users_customuser_id FOREIGN KEY (user_id) REFERENCES public.users_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_authtoken users_authtoken_user_id_45e64c0b_fk_users_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_authtoken
    ADD CONSTRAINT users_authtoken_user_id_45e64c0b_fk_users_customuser_id FOREIGN KEY (user_id) REFERENCES public.users_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_customuser_groups users_customuser_gro_customuser_id_958147bf_fk_users_cus; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_customuser_groups
    ADD CONSTRAINT users_customuser_gro_customuser_id_958147bf_fk_users_cus FOREIGN KEY (customuser_id) REFERENCES public.users_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_customuser_groups users_customuser_groups_group_id_01390b14_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_customuser_groups
    ADD CONSTRAINT users_customuser_groups_group_id_01390b14_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_customuser_user_permissions users_customuser_use_customuser_id_5771478b_fk_users_cus; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_customuser_user_permissions
    ADD CONSTRAINT users_customuser_use_customuser_id_5771478b_fk_users_cus FOREIGN KEY (customuser_id) REFERENCES public.users_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_customuser_user_permissions users_customuser_use_permission_id_baaa2f74_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_customuser_user_permissions
    ADD CONSTRAINT users_customuser_use_permission_id_baaa2f74_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_emailattachment users_emailattachment_email_id_f25ba5af_fk_users_emailintake_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_emailattachment
    ADD CONSTRAINT users_emailattachment_email_id_f25ba5af_fk_users_emailintake_id FOREIGN KEY (email_id) REFERENCES public.users_emailintake(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_emailverificationcode users_emailverificat_user_id_41be922c_fk_users_cus; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_emailverificationcode
    ADD CONSTRAINT users_emailverificat_user_id_41be922c_fk_users_cus FOREIGN KEY (user_id) REFERENCES public.users_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_lawyer users_lawyer_user_id_4e9ae076_fk_users_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_lawyer
    ADD CONSTRAINT users_lawyer_user_id_4e9ae076_fk_users_customuser_id FOREIGN KEY (user_id) REFERENCES public.users_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_passwordresettoken users_passwordresett_user_id_2355945a_fk_users_cus; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_passwordresettoken
    ADD CONSTRAINT users_passwordresett_user_id_2355945a_fk_users_cus FOREIGN KEY (user_id) REFERENCES public.users_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_vendor users_vendor_user_id_f92c1e27_fk_users_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_vendor
    ADD CONSTRAINT users_vendor_user_id_f92c1e27_fk_users_customuser_id FOREIGN KEY (user_id) REFERENCES public.users_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: verification_comment verification_comment_created_by_id_7fa7e932_fk_users_cus; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.verification_comment
    ADD CONSTRAINT verification_comment_created_by_id_7fa7e932_fk_users_cus FOREIGN KEY (created_by_id) REFERENCES public.users_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: verification_comment verification_comment_verification_id_448a8d07_fk_case_veri; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.verification_comment
    ADD CONSTRAINT verification_comment_verification_id_448a8d07_fk_case_veri FOREIGN KEY (verification_id) REFERENCES public.case_verification(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: verification_document verification_documen_uploaded_by_id_067173b6_fk_users_cus; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.verification_document
    ADD CONSTRAINT verification_documen_uploaded_by_id_067173b6_fk_users_cus FOREIGN KEY (uploaded_by_id) REFERENCES public.users_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: verification_document verification_documen_verification_id_ba001c74_fk_case_veri; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.verification_document
    ADD CONSTRAINT verification_documen_verification_id_ba001c74_fk_case_veri FOREIGN KEY (verification_id) REFERENCES public.case_verification(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict CLYsFG7YNULbzcgAKfAGlGTGDKUE3r9Sy3nmpht7CO3CBMtug5OPznbwuw3fm61

